// font-family: 'Poppins', sans-serif;
// font-family: 'Russo One', sans-serif;
@import './responsive';
.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    &__container{
        height: 78px;
        margin: 0 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__collapse{
        width: 40%;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        a{
            color: #fff;
        }
        a:hover{
            color:#91BBF2;
        }
    }
}